@font-face {

    font-family: mytext;
    src: url(./NotoEmoji-VariableFont_wght.ttf);
    font-weight: 401;
}

@font-face {

    font-family: standard;
    src: url(./TextMe.ttf);
    font-weight: 402;

}

custom {
  user-select: none; /* standard */
  -moz-user-select: none; /* firefox specific */
  -webkit-user-select: none; /* Chrome, Opera and Safari*/
    font-size: 3em;
    font-family: mytext;
    font-weight: 401;
    cursor: pointer;
    color: #fcd9ff;
    text-shadow: 0 0 0 transparent, 0 0 10px #c800ff,
      0 0 20px rgba(247, 0, 255, 0.5);

  }



}

h1 {
        font-size: 4em;
}


p { font-size: 1em;

  color: #c7f6ba;
  text-shadow: 0 0 0 transparent, 0 0 10px #34ff26,
    0 0 20px rgba(49, 132, 18, 0.5);

}


body { font-family: standard;
    font-size: 2em;
    width: 100vw;
    height:100vh;
    margin: auto;
    text-align: center;


    background-color: rgb(31, 47, 33);

}

